{
  "logging": {
    "level": 10
  },
  "serial": {
    "device": "/dev/cu.usbserial-DA01IIY6",
    "speed": 115200,
    "timeout": 20
  },
  "msd":{
    "cache_time": 60,
    "failure_value": 300,
    "failure_query": "SELECT board_id,last_update FROM (SELECT board_id,max(last_update) as last_update FROM last_metrics GROUP BY board_id) WHERE STRFTIME('%s', 'now')-last_update>?"
  },
  "action_config": {
    "notify": {
      "sms_endpoint": "https://bulksms.vsms.net/eapi/submission/send_sms/2/2.0",
      "sms_user": "user",
      "sms_password": "password",
      "sms_recipient": ["+48000000000"],
      "sms_enabled": 0,
      "mail_sender": "notify@example.com",
      "mail_recipient": "root@example.com",
      "mail_subject": "RPI notification",
      "mail_host": "email-smtp.eu-west-1.amazonaws.com",
      "mail_port": 587,
      "mail_user": "user",
      "mail_password": "password",
      "mail_enabled": 1
    }
  },
  "loop_sleep": 10,
  "db_file": "/Users/zynzel/mgw/main/mgw.db",
  "mgmt_socket": "/tmp/mgw.sock",
  "gateway_ping_time": 120
}
