argparse==1.2.1
bottle==0.12.9
netaddr==0.7.18
pyserial==3.1
requests==2.20.0
urllib3==1.24.2
python-gsmmodem==0.9
paho-mqtt==1.2
SQLAlchemy==1.0.13
tornado==4.3
jsonschema==2.5.1
jq==0.1.6
PyYAML==3.11
