{
  "voltage": {
    "action": [{"name": "send_sms", "failback": [{"name": "send_mail"}]}, {"name": "log"}],
    "check_if_armed": 0,
    "action_interval": 360,
    "threshold": "lambda x: float(x)<3.2",
    "fail_count": 2,
    "fail_interval": 300
  }
}
