{
  "logging": {
    "level": 20
  },
  "mqtt": {
    "server": "localhost",
    "topic": {
      "subscribe": {
         "mgmt/status": "mgmt/status/#",
         "dbsm/metric": "dbsm/metric/+/+"
       },
       "mgmt/status": "mgmt/status"
    }
  },
  "db_string": "sqlite:////etc/mgw/mgw.db"
}
