{
  "db_string": "sqlite:////etc/mgw/mgw.db",
  "user_static_dir": "/etc/mgw/api/static",
  "allowed_cidrs": ["127.0.0.1/24"],
  "debug": 1,
  "mqtt": {
    "server": "localhost",
    "topic": {
      "mgmt": "mgmt"
    }
  }
}
