{
  "logging": {
    "level": 20
  },
  "mqtt": {
    "server": "localhost",
    "topic": {
      "subscribe": {
         "mgmt/status": "mgmt/status/#"
       },
       "mgw/action": "mgw/action",
       "dbsm/metric": "dbsm/metric",
       "mgmt/status": "mgmt/status"
    }
  }
}
