{
  "logging": {
    "level": 20
  },
  "mqtt": {
    "server": "localhost",
    "topic": {
      "subscribe": {
         "mgmt/status": "mgmt/status/#"
       },
       "mgmt/status": "mgmt/status"
    }
  }
}
