{
  "msd": {
    "query": "SELECT board_id,max(last_update) FROM last_metrics GROUP BY board_id",
    "threshold": "lambda x: x > 300",
    "loop_sleep": 60
  },
  "db_string": "sqlite:////etc/mgw/mgw.db",
  "mqtt": {
    "server": "localhost",
    "topic": {
      "subscribe": {
         "mgmt/status": "mgmt/status"
       },
       "mgw/action": "mgw/action"
    }
  }
}
