{
  "logging": {
    "level": 10
  },
  "serial": {
    "device": "/dev/cu.usbserial-DA01IIY6",
    "speed": 115200,
    "timeout": 20
  },
  "msd": {
    "query": "SELECT board_id,last_update FROM (SELECT board_id,max(last_update) as last_update FROM last_metrics GROUP BY board_id) WHERE STRFTIME('%s', 'now')-last_update>300",
    "loop_sleep": 60
  },
  "action_config": {
    "send_sms": {
      "endpoint": "https://bulksms.vsms.net/eapi/submission/send_sms/2/2.0",
      "user": "user",
      "password": "password",
      "recipient": ["+48000000000"],
      "enabled": 1
    },
    "send_mail": {
      "sender": "notify@example.com",
      "recipient": "root@example.com",
      "subject": "RPI notification",
      "host": "email-smtp.eu-west-1.amazonaws.com",
      "port": 587,
      "user": "user",
      "password": "password",
      "enabled": 1
    },
    "send_sms_at": {
      "recipient": ["+48000000000"],
      "port": "/dev/ttyUSB1",
      "speed": 19200,
      "enabled": 1
    }
  },
  "loop_sleep": 10,
  "db_file": "/Users/zynzel/mgw/main/mgw.db",
  "mgmt_socket": "/tmp/mgw.sock",
  "gateway_ping_time": 120
}
