{
  "logging": {
    "level": 20
  },
  "action_config": {
    "send_bulksms": {
      "endpoint": "https://bulksms.vsms.net/eapi/submission/send_sms/2/2.0",
      "user": "user",
      "password": "password",
      "enabled": 0
    },
    "send_mail": {
      "sender": "root@example.com",
      "recipient": "user@example.com",
      "subject": "RPI notification",
      "host": "email-smtp.eu-west-1.amazonaws.com",
      "port": 587,
      "user": "user",
      "password": "password",
      "enabled": 1
    },
    "send_sms_at": {
      "recipient": ["+48000000000"],
      "port": "/dev/ttyUSB1",
      "speed": 19200,
      "enabled": 1
    },
    "send_instapush": {
      "endpoint": "https://api.instapush.im/v1/post",
      "event": "notification",
      "enabled": 0
    },
    "send_ifttt_maker": {
      "endpoint": "https://maker.ifttt.com/trigger",
      "auth_key": "authkey",
      "enabled": 0
    },
    "send_mqtt": {
      "server": "localhost",
      "topic": "srl/write",
      "enabled": 0
    },
    "send_pushover": {
      "endpoint": "https://api.pushover.net/1/messages.json",
      "token": "auth_token",
      "user_key": "user_or_group_key",
      "enabled": 1
    }
  },
  "mqtt": {
    "server": "localhost",
    "topic": {
      "mgw": "mgw",
      "mgmt": "mgmt",
      "dbsm": "dbsm/metric"
    }
  },
  "status": {
    "mgw": 1,
    "msd": 1,
    "srl": 1,
    "armed": 1,
    "fence": 1,
    "dbsm": 1
  },
  "db_string": "sqlite:////etc/mgw/mgw.db"
}
