{
  "logging": {
    "level": 20
  },
  "serial": {
    "device": "/dev/ttyUSB0",
    "speed": 115200,
    "timeout": 20
  },
  "action_config": {
    "send_sms": {
      "endpoint": "https://bulksms.vsms.net/eapi/submission/send_sms/2/2.0",
      "user": "user",
      "password": "password",
      "recipient": ["+48000000000"],
      "enabled": 0
    },
    "send_mail": {
      "sender": "root@example.com",
      "recipient": "user@example.com",
      "subject": "RPI notification",
      "host": "email-smtp.eu-west-1.amazonaws.com",
      "port": 587,
      "user": "user",
      "password": "password",
      "enabled": 1
    },
    "send_sms_at": {
      "recipient": ["+48000000000"],
      "port": "/dev/ttyUSB1",
      "speed": 19200,
      "enabled": 1
    }
  },
  "mqtt": {
    "server": "localhost",
    "topic": {
      "exc": "exc",
      "mgw": "mgw",
      "mgmt": "mgmt"
    }
  },
  "db_file": "/etc/mgw/mgw.db",
  "gateway_ping_time": 120
}
