{
  "voltage": {
    "priority": 50,
    "actions": [
      {
      "action": [{"name": "send_mail"}, {"name": "log"}],
      "check_if_armed": {"default": 0},
      "action_interval": 360,
      "threshold": "lambda x: float(x)<3.2",
      "fail_count": 2,
      "fail_interval": 300,
      "message_template": "Board {board_desc} ({board_id}) reports low voltage {sensor_data}V"
      },
      {
      "action": [{"name": "send_sms_at", "failback": [{"name": "send_mail"}]}, {"name": "log"}],
      "check_if_armed": {"default": 0},
      "action_interval": 360,
      "threshold": "lambda x: float(x)<3.0",
      "fail_count": 2,
      "fail_interval": 300,
      "message_template": "Board {board_desc} ({board_id}) reports very low voltage {sensor_data}V",
      "action_config": {
        "send_sms_at": {
            "recipient": ["+48111111111", "+48222222222"]
          }
        }
      }
    ]
  },
  "motion": {
    "priority": 0,
    "actions": [
      {
      "action": [{"name": "send_sms_at", "failback": [{"name": "send_bulksms", "failback": [{"name": "send_mail"}]}]}, {"name": "log"}],
      "check_if_armed": {"default": 1},
      "action_interval": 360,
      "threshold": "lambda x: int(x)==1",
      "fail_count": 0,
      "fail_interval": 0,
      "message_template": "Motion detected on board {board_desc} ({board_id})",
      "action_config": {
        "send_bulksms": {
            "recipient": ["+48000000000"]
          },
        "send_sms_at": {
            "recipient": ["+48111111111"]
          }
        }
      }
    ]
  },
  "uptime": {
    "priority": 50,
    "actions": [
      {
      "action": [{"name": "send_mail"}, {"name": "log"}],
      "check_if_armed": {"default": 0},
      "action_interval": 3600,
      "threshold": "lambda x: int(x)<25",
      "fail_count": 0,
      "fail_interval": 0,
      "message_template": "Board {board_desc} ({board_id}) was rebooted"
      }
    ]
  },
  "msd": {
    "priority": 20,
    "actions": [
      {
      "action": [{"name": "send_mail"}, {"name": "log"}],
      "check_if_armed": {"default": 0},
      "action_interval": 86400,
      "threshold": "lambda x: int(x)>0",
      "fail_count": 0,
      "fail_interval": 0,
      "message_template": "Board {board_desc} ({board_id}) is missing for {sensor_data} seconds"
      }
    ]
  },
  "status_armed": {
    "priority": 10,
    "actions": [
      {
      "action": [{"name": "send_instapush", "failback": [{"name": "send_mail"}]}, {"name": "log"}],
      "check_if_armed": {"default": 0},
      "action_interval": 1,
      "threshold": "lambda x: int(x)==1",
      "fail_count": 0,
      "fail_interval": 0,
      "message_template": "Alarm armed",
      "action_config": {
        "send_instapush": {
          "apps": [
            {"id": "instapush-app-id", "secret": "instapush-app-secret"}
            ]
          }
        }
      },
      {
      "action": [{"name": "send_instapush", "failback": [{"name": "send_mail"}]}, {"name": "log"}],
      "check_if_armed": {"default": 0},
      "action_interval": 1,
      "threshold": "lambda x: int(x)==0",
      "fail_count": 0,
      "fail_interval": 0,
      "message_template": "Alarm disarmed",
      "action_config": {
        "send_instapush": {
          "apps": [
            {"id": "instapush-app-id", "secret": "instapush-app-secret"},
            {"id": "instapush-app-id2", "secret": "instapush-app-secret2"}
            ]
          }
        }
      }
    ]
  }
  "switch": {
    "actions": [
      {
      "action": [{"name": "log"}],
      "message_template": "Switch pressed on board 10",
      "board_ids": ["10"]
      },
      {
      "action": [{"name": "log"}],
      "message_template": "Switch pressed on board 11",
      "board_ids": ["11"]
      },
      {
      "action": [{"name": "log"}],
      "message_template": "Switch pressed"
      }
    ]
  }
}
